/* Global Layout Set-up -------------------- */
* {
	box-sizing: border-box;
}

/* Base Element Styles -------------------- */

body {
    background: rgba(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Yeseva One', serif;
    font-size: 1.25em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .1rem;
    color: rgb(90, 90, 90);
}

    nav {
        list-style: none;
        text-align: center;
    }    

    li a {
        font-family: 'Uni Sans', sans-serif;
        font-size: .75em;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: .20rem;
        color: rgb(0,0,0);
    }

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 1.25em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .05rem;
    color: rgb(179, 127, 127);
    text-align: center;
}

h3 {
    font-family: 'Uni Sans', sans-serif;
    letter-spacing: .025rem;
    text-transform: uppercase;
    text-align: center;
    color: black;
}

p {
    font-size: .95em;
    line-height: 1.5;
    text-align: center;
}  

a {
    text-decoration: none;
    color: lightblue;
}

/* Navigation -------------------- */

.main-header {
    padding: .5em 0;
    margin-bottom: 30px;
}

    .container {
    display: block;
    margin: 0 auto;
    width: 90%;
    }

        .name {
            margin: .75em 0;
            padding: 1em 1.5em;
        }

        .main-nav {
            padding: .5em;
            margin: 0 auto;
        } 

            .main-nav li {
                padding: 7px 15px;
                margin: auto;
            }

            .main-nav a {
                padding: 1em 6em;
            }

/* Layout -------------------- */

.banner {
    margin: 2em;
}
    .profile-image {
        display: block;
        margin: 0 auto;
        width: 70%;
    }

    .tag {
        margin: 1.5em;
    }

.card {
    width: 100%;
    background: rgb(248, 248, 248);
    padding: 2em 1em;
    margin: 0 auto;
}

    .flex {
        padding: 2em 0em;
    }

            .image {
                width: 100%;
                padding: 2em 0 1em;
            }

            .text {
                width: 80%;
                padding: .5em 0;
                margin: auto;
            }

.contact {
    padding: 2em 0em;
    margin: 2em 0;
}

    .con-text {
        text-align: center;
    }

        .con-text p {
            width: 80%;
            margin: 0 auto;
        }

.footer {
    border-top: 1px solid goldenrod;
    font-size: .65em;
    width: 90%;
    margin: 0 auto;
    padding-top: 1.5em;
}

    .footer-name {
        width: 40%;
        float: left;
    }

    .top {
        width: 40%;
        float: right;
    }

        .footer-name h2 {
            font-size: .85em;
            text-align: left;
        }

        .top h2 {
            font-size: .85em;
            text-align: right;
        }

    .footer-nav {
        display: none;
    }

/* Media Query --------------------- */

@media (min-width: 768px) {

    /* Navigation ---------- */
        
        .main-nav li {
            display: inline-block;
            padding: .65em;
        }

        .main-nav a {
            padding: 1em 1.75em;
            border-bottom: 1px solid goldenrod;
        }

    /* Layout ---------- */

    .banner {
        padding-bottom: 3em;
        margin: 60px;
    }

        .tag {
            display: inline-block;
            text-align: left;
            width: 60%;
            padding-right: 15px;
            margin: 0 auto;
        }

        .profile-image {
            display: inline-block;
            width: 40%;
            float: right;
        }

    .card {
        width: 100%;
    }

            .flex-left {
                display: inline-block;
                width: 50%;
                padding: 2em .5em 2em 0;
                margin-bottom: 15px;
                float: left;
            }

            .flex-right {
                display: inline-block;
                width: 50%;
                padding: 2em 0 2em .5em;
                margin-bottom: 15px;
                float: right;
            }

                .image {
                    padding-top: .5em;
                }

                .text {
                    width: 60%;
                    padding-bottom: 1em;
                }

        .contact {
            padding: 1.5em 0;
        }

            .con-text p {
                width: 60%;
                padding: 1.5em 0;
            }

    .footer {
        padding: 1em 0;
    }
        .footer-name h2{
            text-align: left;
        }

        .top {
            display: none;
        }

        .footer-nav {
            display: inline-block;
            float: right;
        }


            .footer-nav li {
                display: inline-block;
                text-align: right;
                padding: 7px 15px;
                margin: auto;
            }

            .footer-nav a {
                padding: .75em;
                margin: .25em 0;
                color: rgb(179, 127, 127)
            }

}

@media (min-width: 1024px) {


body,
footer {
    max-width: 1150px;
    margin: 0 auto;
}

    /* Navigation ----------- */

.main-header {
    padding: 2em 1.25em;
    margin: 30px 0;
}

    .container {
    display: block;
    margin: 0 auto;
    }

        .name {
            display: inline-block;
            text-align: left;
            width: 50%;
            padding-left: 10px;
            padding-right: 15px;
            margin: 0 auto;
        }

        .main-nav {
            display: inline-block;
            text-align: right;
            width: 50%;
            float: right;
        }

            .main-nav a {
                padding: 1em .9em;
                border: 0;
            }

/* banner ---------- */

.banner {
    margin: 0 auto;
    width: 90%;
}
    .tag {
        font-size: 1.25em;
        font-weight: 200;
    }

/* container ---------- */

.container {
    width: 95%;
}

    .column-left,
    .column-center,
    .column-right {
        width: 33.33%;
        padding: 1em .5em;
    }

        .text {
            width: 70%;
        }
}

/* Float Clearfix -------------------- */

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}